<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="#">Sudharsh</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/accordion">Accordion</a>
        <a class="nav-item nav-link" routerLink="/carousel">Carousel</a>
        <a class="nav-item nav-link" routerLink="/modal">Modal</a>
        <a class="nav-item nav-link" routerLink="/typeahead">Typeahead</a>
        <a class="nav-item nav-link" routerLink="/popover">Popover</a>

      </div>
    </div>
  </nav>
